.modalStyle {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 300px);
  right: calc(50% - 300px);
  bottom: calc(50% - 300px);
  border: none;
  background: #fff;
  overflow: auto;
  border-radius: 20px;
  outline: none;
  padding: 0px;
  overflow: hidden;

  z-index: 50;
}

.overlayStyle {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.hideOverflow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.allWrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.headerWrapper {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;

  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: left;
}

.exitButton {
  margin-left: 10px;
  margin-top: 10px;

  border: none;
  background-color: white;

  width: 35px;
  height: 35px;

  border-radius: 100%;
  transition: background-color 150ms;

  cursor: pointer;
  &:hover {
    background-color: rgb(0, 0, 0, 0.1);
    transition: background-color 150ms;
  }
}

.xImage {
  width: 100%;
  height: 100%;
}

.contentWrapper {
  width: 100%;
  height: calc(100% - 40px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.contentLeftSide {
  width: 70px;
  height: 100%;

  display: flex;
  justify-content: center;
}

.profileImage {
  width: 40px;
  height: 40px;
  margin: 10px 0px 0px 0px;

  border: 1px solid rgb(236, 236, 236);
  border-radius: 100%;
}

.contentRightSide {
  width: calc(100% - 80px);
  height: 100%;

  margin-right: 10px;
}

.inputWrapper {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: calc(100% - 10px);
  height: 30px;

  padding: 0px;
  margin: 20px 0px 20px 0px;
  border: none;

  font-size: 20px;
  resize: none;

  overflow: hidden;

  &:focus {
    outline: none;
  }
}

.lengthText {
  position: absolute;
  bottom: 62px;
  right: 35px;

  z-index: 10;

  font-size: 15px;
  color: rgb(115, 115, 115);
}

.imageNumberText {
  position: absolute;
  bottom: 62px;
  left: 75px;

  z-index: 10;

  font-size: 15px;
  color: rgb(115, 115, 115);
}

.inputImagesWrapper {
  width: calc(100% - 12px);
  margin-left: 2px;
  height: auto;
  display: flex;
  position: relative;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.contentImageWrapper {
  width: 100%;
  height: auto;
  position: relative;

  margin-bottom: 10px;
}

.deleteButton {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 35px;
  height: 35px;

  border-radius: 100%;
  border: none;
  background: rgb(0, 0, 0, 0.1);
  transition: background 150ms;

  cursor: pointer;

  z-index: 3;

  &:hover {
    background: rgb(0, 0, 0, 0.2);
    transition: background 150ms;
  }
}

.deleteButtonImage {
  width: 100%;
  height: 100%;
}

.contentImage {
  display: flex;
  position: relative;

  width: 100%;
  height: 100%;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 10px;
}

.emptyBox {
  width: 100%;
  height: 60px;
}

.controllerWrapper {
  width: calc(100% - 100px);
  height: 50px;
  display: flex;
  position: absolute;
  bottom: 0px;

  padding: 0px 0px 10px 0px;

  align-items: center;
  justify-content: space-between;

  z-index: 10;

  background: white;
  border-top: 1px solid rgb(223, 223, 223);
}

.addImageButton {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  margin-top: 5px;

  width: 50px;
  height: 50px;

  border-radius: 100%;
  border: none;

  background: none;
  transition: background 150ms;

  &:hover {
    background: rgb(0, 0, 0, 0.1);
    transition: background 150ms;
  }
}
.addImageButtonDisabled {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  margin-top: 5px;

  width: 50px;
  height: 50px;

  border-radius: 100%;
  border: none;

  background: none;
  transition: background 150ms;
}

.addImageInput {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 80%;

  padding: 0px;
  margin: 0px;

  opacity: 0%;
  font-size: 0px;

  cursor: pointer;
}

.addImageImage {
  position: relative;
  width: 60%;
  height: 60%;
}

.tweetButton {
  width: 80px;
  height: 70%;
  margin-top: 10px;

  border-radius: 200px;
  border: none;

  background-color: rgb(30, 156, 241);

  font-size: 15px;
  font-weight: bold;
  color: white;

  cursor: pointer;

  transition: background-color 150ms;
  &:hover {
    background-color: rgb(30, 136, 206);
    transition: background-color 150ms;
  }
}

.tweetButtonDisabled {
  width: 80px;
  height: 70%;
  margin-top: 10px;

  border-radius: 200px;
  border: none;

  background-color: rgb(30, 156, 241);

  font-size: 15px;
  font-weight: bold;
  color: white;

  cursor: pointer;

  opacity: 0.4;
}

.replyingWrapper {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.leftReplyingWrapper {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.lineReplyingWrapper {
  width: 100%;
  height: calc(100% - 40px);
}

.lineStyle {
  width: 100%;
  height: 100%;
}

.rightReplyingWrapper {
  width: calc(100% - 70px);
  height: 100%;

  padding-top: 30px;
}

.middleReplyingWrapper {
  width: calc(100% - 70px);

  margin-top: 5px;
}

.topReplyingWrapper {
  width: 100%;
  height: 20px;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}

.topReplyingTextWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}

.replyingNameText {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  font-size: 15px;
  font-weight: bold;
  color: black;

  margin-right: 10px;
}

.replyingNameText {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  font-size: 15px;
  font-weight: bold;
  color: black;

  margin-right: 10px;
}

.replyingIdTimeText {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  font-size: 15px;
  color: #536471;

  margin-right: 10px;
}

.mainReplyingText {
  font-size: 15px;
  color: black;
  white-space: pre-line;
}

.hideBox {
  position: absolute;

  bottom: 0px;
  left: 0px;

  width: 70px;
  height: 60px;

  background-color: rgb(255, 255, 255);
}
