.UserProfileHeader {
  height: 55px;
  width: 35.06%;
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  border-bottom: 1px solid black;
  background-color: white;
  opacity: 0.95;
  position: fixed;
}

.UserProfileHeaderButton {
  background-color: white;
  border: none;
  margin-right: 20px;
}

.UserProfileHeaderName {
  font-size: 25px;
  color: black;
}

.UserProfileHeaderTweetsCount {
  font-size: 15px;
  color: #2e2e2e;
}

.UserProfileBody {
  width: 90%;
  margin-left: 5%;
  margin-top: 60px;
}
