.userProfileWrapper {
  width: 100%;
  height: 500px;
  border-left: 1px solid rgb(226, 226, 226);
  border-right: 1px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);
}

.UserProfileHeader {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 55px;
  width: 100%;
  flex-direction: row;
  border-bottom: 1px solid rgb(226, 226, 226);
  background-color: rgb(255, 255, 255, 0.95);
  z-index: 1;
}

.UserProfileHeaderButton {
  background-color: white;
  border-radius: 30px;
  border: none;
  padding: 6px;
  margin-right: 17px;
  margin-left: 7px;
  &:hover {
    cursor: pointer;
    background-color: #e6e7e7;
  }
}

.UserProfileHeaderName {
  font-size: 25px;
  color: black;
}

.UserProfileHeaderTweetsCount {
  font-size: 15px;
  color: #2e2e2e;
}

.UserProfileBody {
  width: 100%;
  margin-top: 56.4px;
}

.UserProfileBackground {
  width: 100%;
  height: 200px;
  background-color: cadetblue;
}

.UserProfileBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 210px;
  padding: 20px;
}

.UserProfileBanner {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.UserProfileImg {
  border: 3px solid white;
  border-radius: 135px;
  background-color: chocolate;
}

.UserProfileEditButton {
  border: 2px solid #e7ecee;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-right: 30px;
  height: 40px;
  width: 120px;
  font-weight: bolder;
  &:hover {
    cursor: pointer;
    background-color: #e6e7e7;
  }
}

.UserProfileInfoBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 10px;
}

.UserProfileRouterButtonWrapper {
  width: 100%;
  height: 55px;
  display: flex;
}

.UserProfileRouterButtonUnclicked {
  width: 25%;
  height: 100%;
  border: 0;
  background-color: white;
  font-size: 15px;
  font-weight: bolder;
  color: #546572;
  &:hover {
    cursor: pointer;
    background-color: #e6e7e7;
  }
}

.UserProfileRouterButtonClicked {
  width: 25%;
  height: 100%;
  border: 0;
  border-bottom: 2px solid #1d9bf0;
  background-color: white;
  font-size: 15px;
  font-weight: bolder;
  &:hover {
    cursor: pointer;
    background-color: #e6e7e7;
  }
}
