.tweetModalWrapper {
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
}

.ModalContent {
  display: flex;
}

.ModalHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.XWrapper {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.07);
    cursor: pointer;
  }
}
.ModalContentLeft {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.ModalContentRight {
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;

}
.ModalContentInput {
  font: 14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  border: none;
  height: 130px;
  font-size: 20px;
  &:focus {
    outline: none;
  }
  width: 100%;
}
.BorderWrapper {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 12px;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  content: '';
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.ModalContentRightFooter {
  display: flex;
  justify-content: space-between;
}

.ModalContentButtonWrapper{
  display: flex;
}
.Icon{
  width: 20px;
  height: 20px;
  stroke-width: 1px;
  stroke: #00b7ff;
  color: #00b7ff;
}

.IconWrapper{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  &:hover {
    background-color: rgba(0, 183, 255, 0.1);
    cursor: pointer;
  }
}

.TweetButtonWrapper{
  display: flex;
  align-items: center;
}
.Button {
  background-color: rgb(26, 140, 216);
  width: 100px;
  height: 40px;
  border-radius: 999px;
  border: solid black 1px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: none;
}
.Button:hover {
  cursor: pointer;
  opacity: 0.5;
}


