.FollowWrapper {
  height: 60px;
  &:hover{
    background-color: rgba(0,0,0,0.07);
  }
  padding-left: 16px;
  padding-right: 16px;
}

.FollowInside {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.FollowImg{
  margin-right: 20px;
}

.FollowTextButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.FollowNameID {
  display: flex;
  flex-direction: column;
}
.FollowButtonWrapper {
  display: flex;
  align-items: center;
}

.FollowButton {
  margin-bottom: 8px;
  margin-right: 20px;
  width: 80px;
  height: 30px;
  border-radius: 999px;
  border: solid black 1px;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  color: white;
  background-color: black;
  font-weight: 400;
}

.FollowName {
  font-weight: 800;
}

.FollowID {
  font-weight: 400;
  color: rgb(83, 100, 113);
}



