.LoginPageWrapper {
  display: flex;
}

.Background {
  height: 90vh;
  width: 50vw;
}

.Text1{
  font-size: 64px;
  font-weight: 700;
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 80px;
  margin-bottom: 48px;
  margin-top: 48px;
}

.Text2{
  font-size: 31px;
  font-weight: 700;
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 36px;
  margin-bottom: 32px;
}

.Right {
  padding: 32px;
}

.SignUpWrapper {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.Button {
  margin-bottom: 8px;
  margin-right: 20px;
  background-color: white;
  height: 40px;
  border-radius: 999px;
  border: solid black 1px;
}
.Button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.BorderWrapper {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 12px;
  width: 280px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.BorderWrapper::before,
.BorderWrapper::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
.Text3 {
  color: rgb(83, 100, 113);
  line-height: 12px;
  font-size: 11px;
  font-weight: 400;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  width: 300px;
}

.Link{
  text-decoration-line: none;
  color: rgb(29, 155, 240);
}
.Link:hover {
  text-decoration-line: underline;
}

.LoginWrapper {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin-top: 40px;
}
.Text4 {
  margin-bottom: 20px;
  font-size: 17px;
  color: rgb(15, 20, 25);
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 20px;
}
