.UserProfileHeader {
  position: absolute;
  height: 55px;
  width: 35.06%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 5px;
  border-bottom: 1px solid black;
  background-color: white;
  opacity: 0.95;
  position: fixed;
  z-index: 1;
}

.UserProfileHeaderButton {
  background-color: white;
  border-radius: 30px;
  border: none;
  padding: 6px;
  margin-right: 17px;
  margin-left: 7px;
  &:hover {
    cursor: pointer;
    background-color: #e6e7e7;
  }
}

.UserProfileHeaderName {
  font-size: 25px;
  color: black;
}

.UserProfileHeaderID {
  font-size: 15px;
  color: #2e2e2e;
}

.UserProfileRouterButtonWrapper {
  position: relative;
  top: 55px;
  width: 448px;
  height: 55px;
  display: flex;
}

.UserProfileRouterButtonUnclicked {
  width: 50%;
  height: 100%;
  border: 0;
  background-color: white;
  font-size: 15px;
  font-weight: bolder;
  color: #546572;
  &:hover {
    cursor: pointer;
    background-color: #e6e7e7;
  }
}

.UserProfileRouterButtonClicked {
  width: 50%;
  height: 100%;
  border: 0;
  border-bottom: 2px solid #1d9bf0;
  background-color: white;
  font-size: 15px;
  font-weight: bolder;
  &:hover {
    cursor: pointer;
    background-color: #e6e7e7;
  }
}
