.SettingPage {
}

@mixin Button_default {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 100%;
  height: 50px;
  text-align: center;
  border: 0;
  margin-top: 40px;
  background-color: #1d9bf0;
  color: #ffff;
  font-size: 16px;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
.DeactivateButton {
  @include Button_default;
}

.SocialDeactivateButton {
  @include Button_default;
}

.CancelButton {
  @include Button_default;
  width: 100%;
  height: 30px;
  color: white;
  background-color: black;
  font-weight: 600;
}
.Input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
  border: #00b7ff 1px solid;
  &:focus {
    outline: #00b7ff;
  }
}
