.LeftBlock {
  height: 100%;
  width: 15%;
  display: flex;
  position: sticky;
  top: 0;
  justify-self: flex-end;
  flex-direction: column;

  margin-left: 5%;
}

.NavigatorBlock {
  display: block;
}

.NavigatorWrapper {
  padding: 15px 5px;
  width: 100%;
  display: flex;
  &:hover {
    cursor: pointer;
    .NavigatorButton {
      cursor: pointer;
      background-color: #e9e9ea;
    }
  }
}

.NavigatorHeader {
  margin-top: 5px;
  margin-left: 0px;
  display: inline-flex;
  &:hover {
    cursor: pointer;
  }
}

.NavigatorHeaderImg {
  border-radius: 100%;
  padding: 10px 10px;
  margin: 5px 0px 0px 0px;
  &:hover {
    cursor: pointer;
    background-color: #e8f5fe;
  }
}

.NavigatorButton {
  border-radius: 30px;
  padding: 5px 0px;
  font-size: 20px;
  display: inline-flex;
}

.NavigatorImg {
  margin-right: 10px;
  padding: 2px 4px;
}

.NavigatorText {
  margin-right: 10px;
  padding: 2px 10px;
}

.NavigatorTextBolder {
  margin-right: 10px;
  padding: 2px 10px;
  font-weight: bolder;
}

.TweetButton {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 100%;
  height: 50px;
  text-align: center;
  border: 0;
  margin-top: 40px;
  background-color: #1d9bf0;
  color: #ffff;
  font-size: 16px;
  &:hover {
    cursor: pointer;
    background-color: #1a8cd8;
  }
}
.TweetButtonSmall {
  margin-right: 10px;
  padding: 2px 4px;
  opacity: 0;
}

.LogoutModalWrapper {
  bottom: 70px;
  padding: 0px 0px;
  background: white;
  position: fixed;
  width: 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: red;
}

.LogoutModal {
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: black 1px solid;
  height: 50px;
  margin-bottom: 10px;
  justify-content: center;
  &:hover {
    cursor: pointer;
    background-color: #f7f9f9;
  }
}

.SocialLogoutModal {
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: black 1px solid;
  justify-content: center;
  height: 50px;
  &:hover {
    cursor: pointer;
    background-color: #f7f9f9;
  }
}

.ProfileBlock {
  border-radius: 60px;
  bottom: 10px;
  border: 0;
  background: white;
  position: fixed;
  width: 14%;
  display: flex;
  &:hover {
    cursor: pointer;
    background-color: #e9e9ea;
  }
}

.ProfileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  position: relative;
}

.ProfileImgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 1px rgb(236, 236, 236) solid;
}

.ProfileTextWrapper {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.ProfileImg {
  width: 40px;
  height: 40px;

  border-radius: 100%;

  position: relative;
}

.ProfileText {
  margin-right: 10px;
  position: relative;
  padding: 2px 10px;
}

@media screen and (max-width: 1200px) {
  .LeftBlock {
    height: 695px;
    width: 150px;
    position: fixed;
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
  }

  .NavigatorBlock {
    display: block;
  }

  .NavigatorHeader {
    margin-top: 20px;
    margin-left: 20px;
    display: inline-flex;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }

  .NavigatorWrapper {
    padding: 15px 20px;
    width: 100%;
    display: flex;
    &:hover {
      cursor: pointer;
      .NavigatorButton {
        cursor: pointer;
        background-color: #e9e9ea;
      }
    }
  }

  .NavigatorButton {
    border-radius: 30px;
    padding: 5px 0px;
    font-size: 20px;
    display: inline-flex;
  }

  .NavigatorImg {
    margin-right: 10px;
    padding: 2px 4px;
  }

  .NavigatorText {
    display: none;
  }
  .NavigatorTextBolder {
    display: none;
  }

  .TweetButton {
    display: none;
  }

  .TweetButtonSmall {
    margin: 40px 21px;
    opacity: 1;
  }

  .LogoutModal {
    border-radius: 10px;
    bottom: 70px;
    border: 1px solid black;
    padding: 20px 0px;
    background: white;
    position: fixed;
    width: 14%;
    display: flex;
    justify-content: center;
    color: red;
    &:hover {
      cursor: pointer;
      background-color: #f7f9f9;
    }
  }

  .ProfileBlock {
    border-radius: 60px;
    bottom: 10px;
    border: 0;
    background: white;
    position: fixed;
    width: auto;
    align-items: center;
    display: flex;
    &:hover {
      cursor: pointer;
      background-color: #e9e9ea;
    }
  }

  .ProfileWrapper {
    display: flex;
    justify-content: flex-start;
    padding: 5px 10px;
    width: 100%;
    position: relative;
  }

  .ProfileImgWrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100%;
    border: 1px black solid;
  }

  .ProfileTextWrapper {
    display: none;
  }

  .ProfileImg {
    margin-right: 10px;
    padding: 2px 4px;
  }

  .ProfileText {
    display: none;
  }

  .ProfileImgMore {
    display: none;
  }
}
