.LeftBlock {
  height: 695px;
  width: 14%;
  position: fixed;
  display: block;
}

.NavigatorWrapper {
  padding: 15px 5px;
  display: flex;
  &:hover {
    cursor: pointer;
  }
}

.NavigatorButton {
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 20px;
  display: inline-flex;
  justify-content: space-evenly;
  &:hover {
    cursor: pointer;
    background-color: #e9e9ea;
  }
}

.Navigator {
  margin-right: 10px;
}

.NavigatorHeader {
  margin-top: 20px;
  margin-left: 20px;
  display: inline-flex;
  &:hover {
    cursor: pointer;
  }
}

.TweetButton {
  border-radius: 30px;
  border: 0;
  padding: 18px 41%;
  background-color: #1d9bf0;
  color: #ffff;
  font-size: 16px;
  margin-top: 40px;
  &:hover {
    cursor: pointer;
    background-color: #1a8cd8;
  }
}
